/* Fonts */
/* Merriweather font for titles */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* Raleway font - bold for subtitles, regular for other text */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2 {
    font-family: 'Merriweather', serif;
    text-align: center;
}

h3, h4{
    font-family: 'Raleway', serif;
    text-align: center;
    font-size: medium;
}

p{
    text-align: center;
    font-family: 'Raleway', serif;
}

.center-button {
    text-align: center;
    margin-top: 20px;
}

.account-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    padding: 10px;
    max-width: 1000px;
}
  
.account-card {
    width: 250px;
    min-height: 150px;
    border: 2px solid #ffdf5e;
    border-radius: 12px;
    padding: 16px;
    background-color: #fbffca;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Raleway", serif;
}
  
.account-nickname {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: bold;
}
  
.account-type {
    font-size: 0.9em;
    color: #474444;
    margin: 8px 0;
}
  
.account-balance {
    font-size: 1.6em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.account-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
.edit-button, .delete-button {
    padding: 6px 12px;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
}
  
.edit-button{
    background-color: #6eb3fc;
    color: white;
    border-color: #0056b3;
}
.edit-button:hover {
    background-color: #0056b3;
}
  
.delete-button {
    background-color: #f04b5b;
    color: white;
    border-color: #a71d2a;
}
.delete-button:hover {
    background-color: #a71d2a;
}

button {
    font-family: 'Raleway', serif;
    background-color: #88d09b;
    font-size: medium;
}
  
.login-form {
    text-align: center;
    font-size: large;
    font-family: 'Raleway';
    line-height: 60px;
}

.edit-account {
    text-align: center;
    font-size: large;
    font-family: 'Raleway';
    line-height: 40px;
}

.circle-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color:#88d09b;
    border-color: #1e7e34;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    
  }
  
.circle-button:hover {
    background-color: #1e7e34;
  }
  
.delete-selected{
    font-family: raleway;
    position: absolute;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 200px;  
}
