<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Login</title>
</head>
<body>
  <h1>SumUp.</h1>
  {% if error %}
    <p style="color:red">{{ error }}</p>
  {% endif %}
  <form class="login-form" method="POST">
    Username: <input name="username"><br>
    Password: <input name="password" type="password"><br>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/register">Click here to create one!</a></p>
  <h2> SumUp your finances. Simplify your future. </h2>
</body>
</html>
